.menu{
    width: 100%;
    background-color: var(--cor-menu);
    height: 51px;
    padding: 0px 2%;
    box-shadow: 0px 0px 2px var(--cor-letra-menu);
    top: 0;
    z-index: 3;
    position: sticky;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-logo{
    width: 50px;
    /* background-color: blue; */
    height: 80%;
}

#logo{
    width: 100%;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-link{
    text-decoration: none;
    color: var(--cor-letra-menu);
    font-size: 20px;
    font-weight: 600;
}
.nav-link:hover{
    color: aliceblue;
    text-decoration: underline;
    text-shadow: 2px 2px 3px var(--cor-letra-menu);
}

.nav-item{
    width: 120px;
    display: flex;
    justify-content: center;
}

.btn{
    border-width: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--cor-letra-menu);
    padding: 0px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--cor-letra-menu);
    box-shadow: 0px 0px 10px var(--cor-letra-menu);
    color: aliceblue;
}
